{%  layout 'layout.liquid' %}

{% block content %}
<div >
<h1 id="notehomepage" >You are welcome to make as many notes as you want on this website!</h1>

<p>This website gives you the ability to create notes online and share them with others for interaction. 
    The notes you create should not include any private information.</p>
</div>
{% endblock %}


