body{

    background-color: lightgrey;
    background-image: url("https://cutewallpaper.org/cdn-cgi/mirage/879d3f56044898301ccabab4a8a90586cd5663eca603a14193df05b49a03034b/1280/22/desk-wallpapers/138444890.jpg");
    background-repeat: no-repeat;
    background-size:2000px;
} 

#notehomepage{
   margin-top: 370px;
   font-size: 30px;
   font-family: 'georgia';
   font-weight: bold; 
   margin-left: 50px;

}

p{
    margin-top: 20px;
}

#create{
    margin-top: 100px;
}

#createbutton, #textlable{
    margin-top: 30px;

}

#textpadding{
    
    padding-right: 10px;

}

textarea {
    resize: none;
  }