{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <form action="/notes" method="POST">
            <fieldset>

                <legend>Create A New Note </legend>


                <label class="form-label">Title:</label>
                <input 
                    type="text" class="form-control" 
                    name="title" placeholder="Note Title"
                    required id="" style="width: 50%;">
                
                
                <label class="form-label">Text:</label>

                <input 
                    type="text " class="form-control" 
                    name="text" placeholder="Write A Note"
                    required   id="" style="width: 50%;height: 200px;"
                    
                    >
                  

            </fieldset>

            <input type="submit" class="btn btn-success" value="Submit">
        </form>
    </div>
{% endblock %}