{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <form action="/notes" method="POST">
            <fieldset>
                <legend id="create">Create A New Note</legend>

                <label class="form-label">Title:</label>
                <input 
                    type="text" class="form-control" 
                    name="Title" placeholder="Type">

                <label id="textlable" class="form-label">Text:</label>

                <input  type="text" class="form-control" 
                    name="Text" placeholder="Type">

            </fieldset>
            <input id="createbutton" type="submit" class="btn btn-success" value="Create">
        </form>
    </div>
{% endblock %}